.calendar__event__view {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 3.5fr;
    height: 100vh;
}

.main__wrapper {
    display: flex;
    padding: none;
}

.drawer__div {
    background-color: var(--p__font__color);
    height: 100%;
}

/* **********CALENDAR****** */
.main__calendar__wrapper {
    /* display: flex; */
    position: relative;
}

.main__calendar__month__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__calendar__month {
    font-size: 2.5em;
    font-weight: 600;
}

.main__calendar__month__header__btns {
    display: flex;
    align-items: center;
}

.main__calendar__header__btn {
    display: flex;
    align-items: center;
    color: var(--main__font__color);
    height: 2em;
    border-radius: 0.5em;
}

.main__calendar__month__wrapper {
    width: 100%;
}

.main__calendar__header__element {
    display: flex;
    width: 100%;
    justify-content: right;
}

.main__calendar__week__header__element {
    display: flex;
    width: 100%;
    justify-content: center;
}

.main__calendar__week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-flow: row;
    height: calc((100vh - 6em) / 7);
}

.main__calendar__week__header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-flow: row;
}

.main__calendar__day {
    min-width: 4em;
    min-height: 4em;
    display: grid;
    grid-template-rows: auto 1.5fr;
    border: 1px solid var(--s__bg__color);
    padding: 0.2em;
}

.weekend {
    background-color: var(--p__bg__color);
}

.main__calendar__day__header {
    display: flex;
    justify-content: space-between;
    min-height: 1em;
    height: 2em;
    font-weight: 600;
}

.currentDay {
    color: var(--p__blue__color);
    /* font-size: 1.2em; */
}

.main__calendar__day__body {
    display: block;
    flex-direction: column;
    height: 100%;
    /* max-height: 4em; */
    overflow: scroll;
}

.main__calendar__day__body::-webkit-scrollbar {
    display: none;
}

.day__events {
    display: flex;
    flex-direction: column;
    margin: 0.2em 0;
    border-radius: 0.2em;
    font-size: 0.8em;
}

.day__events__name {
    display: flex;
    justify-content: center;
    color: var(--w__font__color);
    padding: 0.1em;
}

.day__events__total {
    font-size: 1.3rem;
}

.day__events__entry {
    display: flex;
    justify-content: space-between;
    width: 15em;
}

.starting__balance {
    display: flex;
    /* flex-direction: column; */
    /* font-weight: 700; */
    align-items: center;
}

.balance__span__div {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1em;
    align-items: center;
    padding: 1em 0;
    gap: 0.5em;
}

.balance__span__title {
    overflow-x: scroll;
    white-space: nowrap;
    /* min-width: 10rem; */
}

.balance__date__div {
    display: flex;
    /* width: 60%; */
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.title__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: var(--main__font__color);
    font-weight: 700;
}

.title__div {
    font-size: 2em;
}

.input__big {
    font-size: 2rem;
    /* min-width: 3em; */
    width: 100%;
    max-width: 15rem;
    color: var(--main__font__color);
    background-color: var(--credit-font-color);
    border: none;
    border-bottom: 2px solid var(--main__font__color);
    /* flex-grow: 1; */
    height: 100%;
    text-align: center;
    
}

.input__big::-webkit-outer-spin-button,
.input__big::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.monthlyEventSelect {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-flow: row;
}

.weeklyEventSelect {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-flow: row;
}

.event__card {
    color: var(--main__bg__color);
    border: 2px solid var(--t__font__color);
    background-color: var(--t__font__color);
    padding: 1rem;
    border-radius: 1em;
    /* width: fit-content; */
    overflow: scroll;
    /* display: flex; */
    /* align-self: center; */
}

.event__card__form {
    min-width: 50vw;
    background-color: var(--t__font__color);
    padding: 1rem;
    border-radius: 1em;
    min-height: 50vh;
    max-height: 80vh;
    top: 0;
    /* height: 100%; */
    overflow: scroll;
    /* width: fit-content; */
    transition: all 0.6s ease-in-out;
}

.event__card__display__flex {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* justify-content: space-between; */
    gap: 1em;
    align-items: center;
    margin: 1rem 0;
}
.event__card__display__flex div {
    font-weight: 700;
}

.event__card__input {
    position: relative;
}
.event__card__input input {
    font-size: 1.5rem;
    /* border-radius: 0.5rem; */
    padding: 0.25rem;
    border: 0;
    width: 100%;
    font-size: 1.5rem;
    background-color: var(--t__font__color);
    border-bottom: 2px solid var(--w__font__color);
    background-color: transparent;
    color: var(--w__font__color);
    /* border-radius: 4px; */
}

.event__card__btns {
    display: flex;
    justify-content: center;
    gap: 1em;
    align-content: center;
}

.event__card__btns button {
    color: var(--main__bg__color);
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1em;
}

.event__card__btns .ok {
    background-color: var(--p__green__color);
}

.event__card__btns .not {
    background-color: var(--s__bg__color);
    opacity: 0.5;
}

.event__card__btns .cancel {
    background-color: var(--p__red__color);
}

.event__card__tabs {
    display: flex;
    justify-content: center;
    gap: 1em;
    align-content: center;
}

.event__card__tabs div {
    font-size: 2rem;
    font-weight: 700;
    transition: all 0.6s ease-out;
}

.event__card__tabs .active {
    color: var(--p__green__color);
    text-decoration: underline;
}

.modal__div {
    position: absolute;
    top: 2em;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: var(--primary-text-color);
    border-radius: 1em;
    box-shadow: 24;
    padding: 1em;
}

/* **********EVENT CREATOR****** */
.event__creator__wrapper {
    /* background-color: var(--s__bg__color); */
    padding: 1em;
    /* height: 100%; */
}

.event__creator__list {
    display: grid;
    grid-template-rows: auto auto;
    gap: 0.5em;
    color: var(--p__font__color);
    margin-top: 1em;
    overflow: scroll;
    /* max-height: 100%; */
    /* border: 3px solid red; */
}

.event__creator__list::-webkit-scrollbar {
    display: none;
}

.event__creator__list__debits {
    max-height: 20em;
    display: block;
    overflow: scroll;
    margin: 1em 0;
}

.event__creator__list__debits::-webkit-scrollbar {
    display: none;
}

.event__creator__list__credits {
    max-height: 10em;
    display: block;
    overflow: scroll;
    margin: 1em 0;
}

.event__creator__list__credits::-webkit-scrollbar {
    display: none;
}

.event__creator__object {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 0.5em;
    margin: 0.5em;
    gap: 0.2em;
    border: 1px solid var(--s__font__color);
    border-radius: 0.5em;
    background-color: var(--main__bg__color);
}

.event__creator__event__name {
    font-weight: 600;
}

.event__creator__event__desc {
    font-size: 0.8em;
}

.event__creator__new__div {
    display: flex;
    justify-content: center;
}

.event__creator__new__btn {
    width: 4em;
    height: 4em;
    border-radius: 100%;
    border: 4px solid var(--p__green__color);
}
